<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Artemii Dovzhenko | Python Developer</title>
    <link rel="icon" type="image/png" href="/static/img/globe.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="project_section">


        <div class="proj_support">
        <div class="project_background">



            <ul>
                {% for proj in projects %}
                <li>
                    <a href="{{ url_for('editor', proj_id=proj.id) }}">
                        <div class="project_element" style="background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url({{proj.img_url}});">

                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('creator') }}" class="hero-btn" style="margin: 60px">ADD NEW ONE!</a>
            <a href="{{ url_for('logout') }}" class="hero-btn" style="margin: 60px">LOG OUT</a>
        </div>
        </div>

    </section>
</body>
</html>